*{
    padding: 0px;
    margin: 0px;
    font-family: 'Anton', sans-serif;
    box-sizing: border-box;
    text-decoration: none;
    list-style-type: none;
    --color1: #000000;
    --color2:#fb5607;
    --color3:#ff006e;
    --color4: #8338ec;
    --color5: #3a86ff;
}
/* 
body{
    width: 100%;
    height: 200vh;
    min-width: 70%;
    min-height: 40%;
} */

.secondSec{
    width: 100vw;
    height: 100vh;
    position: relative;
    display: flex;
}

.secondSec .secondSec_div{
    height: 100vh;
    width: 25vw;
    overflow: hidden;
}

